.container {
  margin :0 228px;
  margin-top: 34px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#name{
  color: #008000;
  text-align: center;
  font-family: Pretendard;
  font-size: 49px;
  font-weight: 700;
  margin: 0;
}
#search{
  margin-left: 350px;
  display: flex;
  width: 574px;
  height: 52px;
}
#png{
  margin-left: 350px;
  width: 53px;
  height: 53px;
}

.buttons{
  margin-top: 95px;
  gap: 25px;
}
#btn1 {
  width: 54px;
  height: 44px;
}
#btn2 {
  width: 89px;
  height: 44px;
}
#btn3 {
  width: 89px;
  height: 44px;
}
.carImg{
  display: flex;
  flex-direction: row;
}
.main{
  display: flex;
  margin-top: 52px;
}
.menu{
  color: #008000;
font-family: Pretendard;
font-size: 37px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#on{
  width: 129px;
  height: 300px;
}
#pi{
  width: 971px;
  height: 371px;
}

