body {
  margin: 0;
}

.container {
  margin :0 228px;
  margin-top: 34px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#name{
  color: #008000;
  text-align: center;
  font-family: Pretendard;
  font-size: 49px;
  font-weight: 700;
  margin: 0;
}
#search{
  margin-left: 350px;
  display: flex;
  width: 574px;
  height: 52px;
}
#png{
  margin-left: 350px;
  width: 53px;
  height: 53px;
}

.buttons{
  margin-top: 95px;
  gap: 25px;
}
#btn1 {
  width: 54px;
  height: 44px;
}
#btn2 {
  width: 89px;
  height: 44px;
}
#btn3 {
  width: 89px;
  height: 44px;
}
.carImg{
  display: flex;
  flex-direction: row;
}
.main{
  display: flex;
  margin-top: 52px;
  gap: 67px;
}
.menu{
  color: #008000;
  font-family: Pretendard;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.onImgDiv{
  background-color: red;
}
#on{
  width: 129px;
  height: 300px;
}
.mainImgDiv{
  width: 972px;
  height: 371px;
  background-color: blue;
}
#pi{
  width: 971px;
  height: 371px;
}


#calendar {
  font-family: 'Pretendard', sans-serif;
  text-align: center;
  color: #333;
}

#calendar h2 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 10px;
}

#calendar table {
  width: 100%;
  border-collapse: collapse;
}

#calendar th {
  background-color: #f5f5f5;
  color: #555;
  padding: 8px;
  font-weight: bold;
}

#calendar td {
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

#calendar th:nth-child(1),
#calendar td:nth-child(1) {
  color: red;
}

#calendar th:nth-child(7),
#calendar td:nth-child(7) {
  color: blue;
}
