body {
  margin: 0;
}
.b{
  display: flex;
  flex-direction: row;
}
#name{
  color: #008000;
  text-align: center;
  font-family: Pretendard;
  font-size: 49px;
  font-weight: 700;
  margin: 0;
}
#search{
  margin-left: 344px;
  border: 2px solid #008000;
  display: flex;
  width: 609px;
  height: 50px;
  border-radius: 21px;
}
#png{
  margin-left: 350px;
  width: 53px;
  height: 53px;
}
.buttons{
  margin-top: 95px;
  gap: 25px;
}
#btn1{
  font-size: 28px;
    display: flex;
    align-items: center;
    border: none;
    color: #008000;
    font-family: Pretendard;
    background-color: transparent;
}
#btn2 {
  font-size: 28px;
  border: none;
  color: #008000;
  font-family: Pretendard;
  background-color: transparent;
}
#btn3 {
  font-size: 28px;
  border: none;
  color: #008000;
  font-family: Pretendard;
  background-color: transparent;
}


#calendar td {
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  width: 149px;
  height:190px;
  box-sizing: border-box;
padding: 20px;

}
#calendar h2 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.calenderTD{
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
}

.calenderTD > div {
 display: flex;
 flex-direction: column;
 gap: 84px;
}

.calenderTD > div > .day {
    font-size: 25px;
    text-align: right
}
.calenderTD > div > .day {
    font-size: 25px;
    text-align: right
}
p {
    margin: 0
}
.calendarbox{
    gap: 33px;
    display: flex;
    flex-direction: row;
}
#Frame3{
    border-radius: 21px;
    border: 2px solid #008000;
}
#Frame9{
   width: 53;
    height: 53;
    opacity: 1;
    border-radius: 500px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
#q{
    color: #008000;
    text-align: center;
    font-family: Pretendard;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.TT{
  width: 388px;
  height: 485px;
}